.App {
  text-align: center;
}

.send-box {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 20px;
  margin: 20px;
  border-style: groove;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 300ms;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message-header {
  font-size: large;
  display: flex;
  flex-direction: row;
}

.message-content {
  padding-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    height: 100px;
    animation: logo-spin infinite 10s linear;
    color: black;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
